
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">CRUD_Blogs</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a (click)="filterByCategory('0')" value="0">AllBlogs</a></li>
      <li><a  (click)="filterByCategory('1')" value="1">Tech</a></li>
      <li><a  (click)="filterByCategory('2')" #management value="2">Management</a></li>
      <li><a (click)="filterByCategory('3')" #medical value="3">Medical</a></li>
      <li><a  (click)="filterByCategory('4')" #cultural value="4">Cultural</a></li>
      <li><a  (click)="filterByCategory('5')" #social value="5">Social</a></li>
      <li><a *ngIf="isloggedin()=='true'" (click)="filterByCategory('6')">Favourites</a></li>
    </ul>
  <!--  <form class="navbar-form navbar-left">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>-->
    <ul class="nav navbar-nav navbar-right">
    <!--  <li *ngIf="isloggedin()=='true'" >favourites</li>-->
      <!--<li><label>authername</label></li>-->
      <li><button *ngIf="isloggedin()=='false'" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Login</button>
      </li>
      <li><button *ngIf="isloggedin()=='true'" type="button" class="btn btn-info btn-lg" (click)="Logout()">LogOut</button>
      </li>
    </ul>
  </div>
</nav>
