<div  *ngFor="let blog of blogs" >
  <div *ngIf="isShouldPrint(blog.categoryId)" class="card" style="background-color: #ECE9E9">
    <div class="card-header"  >
      <h2>{{blog.title}}</h2>
    </div>
    <div class="card-block">
      <blockquote class="card-blockquote">
        <p>{{blog.description}}</p>
        <footer>Published on:-<cite title="Source Title">{{blog.date | date}}</cite>

          <button (click)="UpdateBlog(blog.id,blog.title,blog.description,blog.categoryId)" type="button" class="btn btn-primary	 btn-sm">
            Update
          </button>
          <button (click)="DeleteBlog(blog.id)" type="button" class="btn btn-danger btn-sm">
            Delete
          </button>
          <button type="button" class="btn btn-warning ">
            Like</button>
        </footer>
      </blockquote>
    </div>
  </div>
  </div>


